In [51]:
import numpy as np
import matplotlib.pyplot as pyplot
%matplotlib inline

In [52]:
import pandas as pd
path = "recommender-system-2022-challenge-polimi-data/interactions_and_impressions.csv"

Interactions_and_Impressions = pd.read_csv(filepath_or_buffer=path,
                                           sep=",",
                                           header=1,
                                           engine='python',
                                           names=['UserId', 'ItemId', 'ImpressionList', 'Data'])

In [53]:
Interactions_and_Impressions

         UserId  ItemId                 ImpressionList  Data
0             0      21                            NaN     0
1             0      21                            NaN     0
2             0      21  20,21,22,23,24,25,26,27,28,29     0
3             0      21                            NaN     1
4             0      21                            NaN     1
...         ...     ...                            ...   ...
5826500   41628   20448                            NaN     0
5826501   41628   20896                            NaN     1
5826502   41628   21506                            NaN     1
5826503   41628   22882                            NaN     0
5826504   41628   23757                            NaN     0

[5826505 rows x 4 columns]

In [54]:
Temp = Interactions_and_Impressions.fillna(0)

In [55]:
ImpList = np.array(Temp.ImpressionList)
print("The number of interactions with an Impression List is {}".format(np.count_nonzero(ImpList)))

The number of interactions with an Impression List is 233135

---------------------------------------

In [56]:
Interactions_and_Impressions[pd.isna(Interactions_and_Impressions["ImpressionList"])]

         UserId  ItemId ImpressionList  Data
0             0      21            NaN     0
1             0      21            NaN     0
3             0      21            NaN     1
4             0      21            NaN     1
5             0      21            NaN     1
...         ...     ...            ...   ...
5826500   41628   20448            NaN     0
5826501   41628   20896            NaN     1
5826502   41628   21506            NaN     1
5826503   41628   22882            NaN     0
5826504   41628   23757            NaN     0

[5593370 rows x 4 columns]

In [73]:
Interactions_with_list = Interactions_and_Impressions[Interactions_and_Impressions["ImpressionList"].notna()]
Interactions_with_list

,UserId,ItemId,ImpressionList,Data
2,0,21,"20,21,22,23,24,25,26,27,28,29",0
10,0,21,"20,21,30,22,23,24,26,31,29,32",1
11,0,21,"20,21,22,23,24,25,26,27,28,29",1
27,0,24,"20,21,30,22,23,24,25,27,28,29",1
28,0,44,"33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,4...",1
...,...,...,...,...
5443673,36014,15175,"20,21,30,15175,23,24,26,31,29,32",1
5443676,36015,21,"124,20,21,30,22,23,24,25,206,28",0
5443723,36016,5396,"150,773,537,938,540,5396,542,909,545,826",1
5443826,36017,4885,"997,4885,3619,3622",0
5443852,36018,65,"2964,1906,1674,2340,1675,2341,361,1300,1503,65",0

#### I want to see if Items in the impressionList are somewhat relevant for the user

In [64]:
def number_of_relevant_items(row):
    array_of_interactions = [int(numeric_string) for numeric_string in row.ImpressionList.split(",")] # ok
    return array_of_interactions

In [67]:
Interactions_with_list["n"] = Interactions_with_list.apply(lambda row: number_of_relevant_items(row), axis = 1)

/tmp/ipykernel_18064/1434800614.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Interactions_with_list["n"] = Interactions_with_list.apply(lambda row: number_of_relevant_items(row), axis = 1)