In [2]:
import pandas as pd

path = "recommender-system-2022-challenge-polimi-data/interactions_and_impressions.csv"

Interactions_and_Impressions = pd.read_csv(filepath_or_buffer=path,
                                           sep=",",
                                           header=1,
                                           engine='python',
                                           names=['UserId', 'ItemId', 'ImpressionList', 'Data'])


# content_type = pd.read_csv("/kaggle/input/recommender-system-2022-challenge-polimi/data_ICM_type.csv")
# content_length = pd.read_csv("/kaggle/input/recommender-system-2022-challenge-polimi/data_ICM_length.csv")

# ICM_all = pd.concat([content_type, content_length]).sort_values(by='item_id')

Interactions_and_Impressions

         UserId  ItemId                 ImpressionList  Data
0             0      21                            NaN     0
1             0      21                            NaN     0
2             0      21  20,21,22,23,24,25,26,27,28,29     0
3             0      21                            NaN     1
4             0      21                            NaN     1
...         ...     ...                            ...   ...
5826500   41628   20448                            NaN     0
5826501   41628   20896                            NaN     1
5826502   41628   21506                            NaN     1
5826503   41628   22882                            NaN     0
5826504   41628   23757                            NaN     0

[5826505 rows x 4 columns]

In [5]:
Interactions_and_Impressions

         UserId  ItemId                 ImpressionList  Data
0             0      21                            NaN     0
1             0      21                            NaN     0
2             0      21  20,21,22,23,24,25,26,27,28,29     0
3             0      21                            NaN     1
4             0      21                            NaN     1
...         ...     ...                            ...   ...
5826500   41628   20448                            NaN     0
5826501   41628   20896                            NaN     1
5826502   41628   21506                            NaN     1
5826503   41628   22882                            NaN     0
5826504   41628   23757                            NaN     0

[5826505 rows x 4 columns]

In [6]:
DF = Interactions_and_Impressions.drop(["ImpressionList"], axis=1)
DF = DF.groupby(['UserId', 'ItemId'], as_index=False).count()

##### We consider 0 and 1 interactions indistinctly

In [7]:
DF

         UserId  ItemId  Data
0             0      21    12
1             0      22    15
2             0      24     1
3             0      44     1
4             0      54     7
...         ...     ...   ...
1554634   41628   20448     1
1554635   41628   20896     1
1554636   41628   21506     1
1554637   41628   22882     1
1554638   41628   23757     1

[1554639 rows x 3 columns]

Let's take a look at this Data column

In [20]:
import numpy as np
data = np.array(DF.Data)
print("Max number of interactions by a user on one item: {}".format(data.max()))
print("Min number of interactions by a user on one item: {}".format(data.min()))
print("Mean number of interactions by a user on one item: {}".format(data.mean()))
print("25% quantile of interactions by a user on one item: {}".format(np.quantile(data, .25)))
print("75% quantile of interactions by a user on one item: {}".format(np.quantile(data, .75)))
print("77% quantile of interactions by a user on one item: {}".format(np.quantile(data, .77)))

Max number of interactions by a user on one item: 4348
Min number of interactions by a user on one item: 1
Mean number of interactions by a user on one item: 3.747818625417219
25% quantile of interactions by a user on one item: 1.0
75% quantile of interactions by a user on one item: 1.0
77% quantile of interactions by a user on one item: 2.0

Looking at quantiles we see that the vast majority of users interact with items only one time

### Let's try differentiating the two types of interactions
And visualizing the same data

In [22]:
DF_1 = Interactions_and_Impressions[Interactions_and_Impressions["Data"] == 1].drop(["ImpressionList"], axis=1)
DF_1 = DF_1.groupby(['UserId', 'ItemId'], as_index=False).count()

DF_0 = Interactions_and_Impressions[Interactions_and_Impressions["Data"] == 0].drop(["ImpressionList"], axis=1)
DF_0 = DF_0.groupby(['UserId', 'ItemId'], as_index=False).count()

In [63]:
DF_1.sort_values(by=['Data'], ascending=False)

        UserId  ItemId  Data
547352   31350      20  4256
57003     3328     337  3856
114226    6564     909  1570
338423   19407    2581  1377
55330     3226      20  1333
...        ...     ...   ...
252892   14435      97     1
252891   14435      93     1
252889   14435      55     1
252888   14435      54     1
663368   41628   21506     1

[663369 rows x 3 columns]

In [66]:
DF_1[DF_1['UserId']==20368
     #and DF_1['ItemId']==65
]

        UserId  ItemId  Data
354466   20368      28    11
354467   20368      65  1149
354468   20368     113     2
354469   20368     139     1
354470   20368     348    24
354471   20368     349     1
354472   20368     421     1
354473   20368     498     1
354474   20368     521    12
354475   20368     629     1
354476   20368    1448     1
354477   20368    2281     1
354478   20368    3037     1
354479   20368    3349    35
354480   20368    4279     1
354481   20368    4720     2
354482   20368    5446     1
354483   20368    5979    62
354484   20368    6016     1
354485   20368    7080     1
354486   20368    7703    10
354487   20368    8411     6
354488   20368    9544     1
354489   20368   11382     6
354490   20368   11940     8
354491   20368   12663    20
354492   20368   14118     4
354493   20368   18740     1
354494   20368   20356     1
354495   20368   20665    12
354496   20368   21819    27
354497   20368   22027     1
354498   20368   23261    10
354499   20368   23713     2

In [62]:
DF_0.sort_values(by=['Data'], ascending=False)

         UserId  ItemId  Data
550929    20368      65  2801
545263    20145      71  2186
647627    23973   13253  2070
462842    17074      71  1925
257256     9490     958  1868
...         ...     ...   ...
399219    14736    1028     1
399220    14736    4173     1
399221    14736    4906     1
399222    14736    4963     1
1051827   41628   23757     1

[1051828 rows x 3 columns]

In [25]:
data_1 = np.array(DF_1.Data)
print("-------Only 1 interactions---------")
print("Max number of interactions by a user on one item: {}".format(data_1.max()))
print("Min number of interactions by a user on one item: {}".format(data_1.min()))
print("Mean number of interactions by a user on one item: {}".format(data_1.mean()))
print("25% quantile of interactions by a user on one item: {}".format(np.quantile(data_1, .25)))
print("75% quantile of interactions by a user on one item: {}".format(np.quantile(data_1, .75)))
print("77% quantile of interactions by a user on one item: {}".format(np.quantile(data_1, .77)))

-------Only 1 interactions---------
Max number of interactions by a user on one item: 4256
Min number of interactions by a user on one item: 1
Mean number of interactions by a user on one item: 3.4053837306235293
25% quantile of interactions by a user on one item: 1.0
75% quantile of interactions by a user on one item: 1.0
77% quantile of interactions by a user on one item: 2.0

In [34]:
data_1.sort()
len(data_1), data_1[663340:663369]

(663369,
 array([ 783,  784,  787,  791,  801,  805,  820,  822,  828,  874,  883,
         898,  909,  910,  928,  947, 1020, 1057, 1070, 1135, 1149, 1170,
        1242, 1246, 1333, 1377, 1570, 3856, 4256]))

In [26]:
data_0 = np.array(DF_0.Data)
print("-------Only 0 interactions---------")
print("Max number of interactions by a user on one item: {}".format(data_0.max()))
print("Min number of interactions by a user on one item: {}".format(data_0.min()))
print("Mean number of interactions by a user on one item: {}".format(data_0.mean()))
print("25% quantile of interactions by a user on one item: {}".format(np.quantile(data_0, .25)))
print("75% quantile of interactions by a user on one item: {}".format(np.quantile(data_0, .75)))
print("77% quantile of interactions by a user on one item: {}".format(np.quantile(data_0, .77)))

-------Only 0 interactions---------
Max number of interactions by a user on one item: 2801
Min number of interactions by a user on one item: 1
Mean number of interactions by a user on one item: 3.391694269405264
25% quantile of interactions by a user on one item: 1.0
75% quantile of interactions by a user on one item: 1.0
77% quantile of interactions by a user on one item: 2.0

In [36]:
data_0.sort()
len(data_0), data_0[1051800:1051828]

(1051828,
 array([1208, 1267, 1276, 1309, 1310, 1328, 1337, 1348, 1363, 1367, 1379,
        1381, 1466, 1480, 1531, 1562, 1567, 1585, 1594, 1814, 1819, 1842,
        1845, 1868, 1925, 2070, 2186, 2801]))

------------

### Let's try comparing the "1" and the "0" dataframes

In [38]:
comparison_df = DF_0.merge(DF_1, on=["UserId", "ItemId"])
comparison_df

        UserId  ItemId  Data_x  Data_y
0            0      21       3       9
1            0    1326       1       3
2            0    1995       1       2
3            0   14305       4      52
4            2      20       1       4
...        ...     ...     ...     ...
160553   41616      25       1       2
160554   41616    1837       1       3
160555   41617      80       2       1
160556   41624   14400       1       1
160557   41624   21458       1       2

[160558 rows x 4 columns]

In [47]:
print("The user-items that have at least a '0' and a '1' interaction are {}\n So only {} of '1' interactions come from '0' interactions\nSo only {} of '0' interactions are followed by '1' interactions"
      .format(
        len(comparison_df),
        1 - ((len(DF_1)-len(comparison_df))/len(DF_1)),
        1 - ((len(DF_0)-len(comparison_df))/len(DF_0))
))

The user-items that have at least a '0' and a '1' interaction are 160558
 So only 0.24203422228051052 of '1' interactions come from '0' interactions
So only 0.15264663043767612 of '0' interactions are followed by '1' interactions

In [50]:
print("On average, users that 'discover' an item looking at the details page, then generate {} '1' interactions"
      .format(comparison_df.Data_x.mean())
      )
print("On avarage, users that watch an item look at the details page {} times"
      .format(comparison_df.Data_y.mean())
      )

On avarage, users that 'discover' an item looking at the details page than generate 7.714408500355012 '1' interactions
On avarage, users that watch an item look at the details page 9.89844168462487 times

Both number are higher than the two computed previously.
### Can we say these interactions are more significant?