# Data Load
### Create the Pandas Dataframe

In [1]:
import pandas as pd
path = "recommender-system-2022-challenge-polimi-data/interactions_and_impressions.csv"

Interactions_and_Impressions = pd.read_csv(filepath_or_buffer=path,
                               sep=",",
                               header=1,
                               engine='python',
                               names=['UserId', 'ItemId', 'ImpressionList', 'Data'])
Interactions_and_Impressions

         UserId  ItemId                 ImpressionList  Data
0             0      21                            NaN     0
1             0      21                            NaN     0
2             0      21  20,21,22,23,24,25,26,27,28,29     0
3             0      21                            NaN     1
4             0      21                            NaN     1
...         ...     ...                            ...   ...
5826500   41628   20448                            NaN     0
5826501   41628   20896                            NaN     1
5826502   41628   21506                            NaN     1
5826503   41628   22882                            NaN     0
5826504   41628   23757                            NaN     0

[5826505 rows x 4 columns]

In [2]:
print(Interactions_and_Impressions["UserId"].max())
print(Interactions_and_Impressions["ItemId"].max())

41628
24506

### Data Preparation
First we remove empty indeces:

In [3]:
userId_unique = Interactions_and_Impressions["UserId"].unique()
itemId_unique = Interactions_and_Impressions["ItemId"].unique()

In [4]:
mapped_id, original_id = pd.factorize(Interactions_and_Impressions["UserId"].unique())
user_original_Id_to_index = pd.Series(mapped_id, index=original_id)

mapped_id, original_id = pd.factorize(Interactions_and_Impressions["ItemId"].unique())
item_original_Id_to_index = pd.Series(mapped_id, index=original_id)

In [5]:
Interactions_and_Impressions["UserId"] = Interactions_and_Impressions["UserId"].map(user_original_Id_to_index)
Interactions_and_Impressions["ItemId"] = Interactions_and_Impressions["ItemId"].map(item_original_Id_to_index)

In [6]:
Interactions_and_Impressions.head(15)

    UserId  ItemId                 ImpressionList  Data
0        0       0                            NaN     0
1        0       0                            NaN     0
2        0       0  20,21,22,23,24,25,26,27,28,29     0
3        0       0                            NaN     1
4        0       0                            NaN     1
5        0       0                            NaN     1
6        0       0                            NaN     1
7        0       0                            NaN     1
8        0       0                            NaN     1
9        0       0                            NaN     1
10       0       0  20,21,30,22,23,24,26,31,29,32     1
11       0       0  20,21,22,23,24,25,26,27,28,29     1
12       0       1                            NaN     1
13       0       1                            NaN     1
14       0       1                            NaN     1

We want an Implicit/Binary Matrix, so:
1) We drop the last two columns, only keeping User and Item Id
2) We remove duplicates
3) Split data into Train/Test/Validation
4) We build the Sparse URM using Scipy

##### Step 1

In [7]:
Distinct_Interactions = Interactions_and_Impressions.copy(deep=True)
Distinct_Interactions = Distinct_Interactions.drop(["ImpressionList", "Data"], axis=1)

##### Step 2

In [8]:
Distinct_Interactions = Distinct_Interactions.drop_duplicates()
Distinct_Interactions['Rating'] = 1
Distinct_Interactions

         UserId  ItemId  Rating
0             0       0       1
12            0       1       1
27            0       2       1
28            0       3       1
29            0       4       1
...         ...     ...     ...
5826500   41628    3699       1
5826501   41628   12693       1
5826502   41628   15131       1
5826503   41628   18127       1
5826504   41628   14572       1

[1554639 rows x 3 columns]

In [9]:
unique_userId = Distinct_Interactions.UserId.unique()
num_users = len(unique_userId)
print(num_users)

unique_itemId = Distinct_Interactions.ItemId.unique()
num_items = len(unique_itemId)
print(num_items)

41629
24507

#### Step 3

In [10]:
from sklearn.model_selection import train_test_split
import numpy as np

seed = 1234


(user_ids_training, user_ids_test,
 item_ids_training, item_ids_test,
 ratings_training, ratings_test) = train_test_split(Distinct_Interactions.UserId,
                                                    Distinct_Interactions.ItemId,
                                                    Distinct_Interactions.Rating,
                                                    test_size=0.20,
                                                    shuffle=True,
                                                    random_state=seed)


(user_ids_training, user_ids_validation,
 item_ids_training, item_ids_validation,
 ratings_training, ratings_validation) = train_test_split(user_ids_training,
                                                          item_ids_training,
                                                          ratings_training,
                                                          test_size=0.10,
                                                          )

##### Step 4

In [11]:
import scipy.sparse as sp
urm_train = sp.csr_matrix((ratings_training, (user_ids_training, item_ids_training)),
                          shape=(num_users, num_items))

urm_test = sp.csr_matrix((ratings_test, (user_ids_test, item_ids_test)),
                         shape=(num_users, num_items))

urm_validation = sp.csr_matrix((ratings_validation, (user_ids_validation, item_ids_validation)),
                               shape=(num_users, num_items))

urm_train, urm_test, urm_validation

(<41629x24507 sparse matrix of type '<class 'numpy.int64'>'
 	with 1119339 stored elements in Compressed Sparse Row format>,
 <41629x24507 sparse matrix of type '<class 'numpy.int64'>'
 	with 310928 stored elements in Compressed Sparse Row format>,
 <41629x24507 sparse matrix of type '<class 'numpy.int64'>'
 	with 124372 stored elements in Compressed Sparse Row format>)

# Now we try running SLIM

In [13]:
from Recommenders.SLIM.SLIMElasticNetRecommender import SLIMElasticNetRecommender

In [14]:
MySlimRecommender = SLIMElasticNetRecommender(urm_train)

In [15]:
MySlimRecommender.fit(l1_ratio=0.1, alpha = 0.0013109430160438843, positive_only=True, topK = 948)

SLIMElasticNetRecommender: Processed 12419 (50.7%) in 5.00 min. Items per second: 41.39
SLIMElasticNetRecommender: Processed 24507 (100.0%) in 8.04 min. Items per second: 50.79

##### Should have worked

In [16]:
from Evaluation.Evaluator import EvaluatorHoldout

In [17]:
e = EvaluatorHoldout(urm_test, [10])

EvaluatorHoldout: Ignoring 309 ( 0.7%) Users that have less than 1 test interactions

In [18]:
e.evaluateRecommender(MySlimRecommender)

EvaluatorHoldout: Processed 41320 (100.0%) in 21.52 sec. Users per second: 1920

(       PRECISION PRECISION_RECALL_MIN_DEN    RECALL       MAP MAP_MIN_DEN  \
 cutoff
 10       0.06453                 0.088168  0.076703  0.032181    0.043305

              MRR      NDCG        F1  HIT_RATE ARHR_ALL_HITS  ...  \
 cutoff                                                        ...
 10      0.201232  0.090888  0.070092  0.397531      0.252298  ...

        COVERAGE_USER COVERAGE_USER_HIT USERS_IN_GT DIVERSITY_GINI  \
 cutoff
 10          0.992577          0.394581    0.992577       0.019471

        SHANNON_ENTROPY RATIO_DIVERSITY_HERFINDAHL RATIO_DIVERSITY_GINI  \
 cutoff
 10            8.918205                   0.994214             0.038473

        RATIO_SHANNON_ENTROPY RATIO_AVERAGE_POPULARITY RATIO_NOVELTY
 cutoff
 10                  0.660993                 4.020924      0.290315

 [1 rows x 27 columns],
 'CUTOFF: 10 - PRECISION: 0.0645305, PRECISION_RECALL_MIN_DEN: 0.0881682, RECALL: 0.0767025, MAP: 0.0321813, MAP_MIN_DEN: 0.0433054, MRR: 0.2012324, NDCG: 0.0908883, F1: 0.0700920, HIT_RATE: 0.3975315, ARHR_ALL_HITS: 0.2522975, NOVELTY: 0.0042976, AVERAGE_POPULARITY: 0.2039426, DIVERSITY_MEAN_INTER_LIST: 0.9388820, DIVERSITY_HERFINDAHL: 0.9938859, COVERAGE_ITEM: 0.1355531, COVERAGE_ITEM_HIT: 0.0503530, ITEMS_IN_GT: 0.9984086, COVERAGE_USER: 0.9925773, COVERAGE_USER_HIT: 0.3945807, USERS_IN_GT: 0.9925773, DIVERSITY_GINI: 0.0194708, SHANNON_ENTROPY: 8.9182046, RATIO_DIVERSITY_HERFINDAHL: 0.9942141, RATIO_DIVERSITY_GINI: 0.0384731, RATIO_SHANNON_ENTROPY: 0.6609934, RATIO_AVERAGE_POPULARITY: 4.0209243, RATIO_NOVELTY: 0.2903148, \n')

### No parameter tuning for now

# Computing the submission
First we compute the original indexes

In [5]:
target = pd.read_csv(filepath_or_buffer="recommender-system-2022-challenge-polimi-data/data_target_users_test.csv",
                                          sep=",",
                                          header=0,
                                          engine='python',
                                          names=['id'])
target

          id
0          0
1          1
2          2
3          3
4          4
...      ...
41111  41624
41112  41625
41113  41626
41114  41627
41115  41628

[41116 rows x 1 columns]

In [ ]:
def write_recommendations(file_name):
    recommendations = 'user_id,item_list'
    f = open("submissions/" + file_name + ".csv", "w")

    for id in target['id']:
        recommendations_per_user = MySlimRecommender.recommend(user_id_array=id, remove_seen_flag=True, cutoff=10)

        recommendation_string = str(user_original_Id_to_index[user_original_Id_to_index==id].index.item()
                                    ) + ','

        for rec in recommendations_per_user:
            recommendation_string = recommendation_string + str(item_original_Id_to_index[item_original_Id_to_index==rec].index.item()) + ' '

        recommendation_string = recommendation_string[:-1]
        recommendations = recommendations + '\n' + recommendation_string

    f.write(recommendations)
    f.close()